{{#if image}}
<div id="title-container" class="title-container" style=" background: url('{{image}}');">
<div style="width: auto; height: 50px; overflow: auto;">&nbsp;</div>
	<h1 class="title-text">&nbsp;</h1>
</div>
{{else}}
<div style="width: auto; height: 50px; overflow: auto;">&nbsp;</div>
{{/if}}