<div class="tail-sig-container" >
	<img src="/assets/images/site-chadsheets-circle-portrait.png" class="tail-sig-image">
	<div class="tail-sig-name">
		Chad Sheets
	</div><div class="tail-sig-text">
		<p>Hi, I'm Chad, welcome to my site! I'm an engineer, open source software and Linux aficianado. I use this blog to track side projects and provide support to the OSS community.
		Feel free to touch base using the social media links below, through the <a href="/contact" style="color: #000000">contact</a> links or on the Debian IRC channel.</p>

	</div>
</div>
