<div class="tail-sig-container" >
	<img src="/assets/images/site-chadsheets-circle-portrait.png" class="tail-sig-image">
	<div class="tail-sig-name">
		About the Author
	</div><div class="tail-sig-text">
		<p style="padding: 0px 50px; ">Hi, I'm Chad and I hope you found the information posted here helpful.
		Feel free to <a href="/contact" class="js-ajax-link">contact me</a> or leave a comment below. You can learn more <a href="/about" class="js-ajax-link">about</a> me or find my
		resume on this site as well. Most of my code is on <a href="https://github.com/cjsheets">GitHub</a>.</p>

	</div>
</div>