{{!< default}}

<div id="container-content"  class="container">
	<div id="container-ajax" class="container">
		<section class="container-search"></section>
		<section class="container-post latest-post">

<!-- Displaying latest post -->

{{#foreach posts}}
{{#if @first}}
{{! No indention to prevent handlebars indenting <pre> tag content}}
{{> masthead}}
<div class="content-padding">
{{> post-content}}
{{> post-footer}}
</div>
{{/if}}
{{/foreach}}

		</section><!--class="latest-post"-->
		<section class="container-post post-index">

<!-- Displaying chronological list of posts -->

{{> masthead}}
<ol class="post-list">
{{> loop}}
</ol>

<nav class="post-navigation">
{{pagination}}
</nav>

		</section><!--class="post-index"-->
	</div><!--id="container-ajax"-->
</div><!--id="container-content"-->