{{!< default}}

<div id="container-content"  class="container">
	<div id="container-ajax" class="container">
		<section class="container-search"></section>
		<section class="container-post latest-post">

{{> masthead-tags}}
{{> loop}}

<nav class="post-navigation">
{{pagination}}
</nav>

		</section><!--class="latest-post"-->
		<section class="container-post post-index">
			&nbsp;
		</section><!--class="post-index"-->
	</div><!--id="container-ajax"-->
</div><!--id="container-content"-->